*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wide {
  max-width: 1300px;
  margin: 0 auto;
}

.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
